.browserSiNextBg,
.browserSiNextImageWIcon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.browserSiNextBg {
  height: 100%;
  bottom: 0;
  background-color: var(--black);
  opacity: 0.5;
}
.browserSiNextImageWIcon {
  height: 42.7%;
  bottom: 57.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.conquestLarge,
.operationLocker {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  letter-spacing: 0.04em;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
}
.conquestLarge {
  top: 0;
}
.browserSiNext,
.browserSiNextInfo {
  position: absolute;
  height: 24.72%;
  width: 79.72%;
  top: 54.83%;
  right: 12.93%;
  bottom: 20.45%;
  left: 7.35%;
}
.browserSiNext {
  height: 100%;
  width: 23.48%;
  top: 0;
  right: 25.51%;
  bottom: 0;
  left: 51.01%;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--white);
  font-family: var(--font-rajdhani);
}
