.join {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.joinBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--white);
  box-sizing: border-box;
  opacity: 0.2;
  z-index: 1;
}
.browserSiButtons {
  width: 324px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 16.5px 20px 15.5px 21px;
  box-sizing: border-box;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--font-rajdhani);
}
