.joinAsCommander {
  position: absolute;
  top: 29.46%;
  left: 23.15%;
  font-size: var(--font-size-lg);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-rajdhani);
  color: var(--white);
  text-align: center;
}
.browserSiButtonsChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--white);
  box-sizing: border-box;
  opacity: 0.2;
}
.browserSiButtons {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 674px;
  width: 324px;
  height: 56px;
}
