.sideMenu,
.sideMenuGame {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.sideMenuGame {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/public/sidemenu@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.5;
}
.sideMenu {
  top: 64px;
  left: 18.1px;
  width: 40px;
  height: 48px;
}
.sideMenuGameIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.sideMenu1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 18.1px;
  width: 40px;
  height: 48px;
}
.sideMenuGameIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.sideMenu2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 192.5px;
  left: 18.1px;
  width: 40px;
  height: 48px;
}
.sideMenuGames {
  position: absolute;
  top: 207.9px;
  left: 0;
  width: 58.1px;
  height: 240.5px;
}
