.sideMenuNewsChild,
.sideMenuNewsItem {
  position: absolute;
  height: 50.16%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 49.84%;
  left: 0;
  background-color: var(--white);
}
.sideMenuNewsItem {
  height: 12.54%;
  top: 62.7%;
  bottom: 24.76%;
}
.sideMenuNews,
.sideMenuNewsInner {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.sideMenuNewsInner {
  height: 12.54%;
  top: 87.46%;
  background-color: var(--white);
}
.sideMenuNews {
  height: 100%;
  top: 0;
  opacity: 0.5;
}
.sideMenu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 131.8px;
  left: 4px;
  width: 32px;
  height: 31.9px;
}
